<div class='quiz'>
 <%= f.label :ask %> <%= f.text_field :ask %><br />
 <%= f.label :responses %><%= f.text_field :responses %><br />
 <%= f.label :response_size %><%= f.text_field :response_size %>
</div>
