<% @questions.each do |question| %>
  <div class="question_text"><%=question.ask %></div>
  <p>Accepted responses: <%=question.responses %></p>
  <p>Response size: <%=question.response_size %></p>
  <p>Riddle response: <%=question.riddle_response %></p>
  <p><%= link_to "Edit", edit_question_path(question) %> | <%= button_to "Delete", question_path(question), :method => :delete %></p>
<% end %>