<%= flash[:notice] %>
<div id="quiz_question">
<%= form_for @question do |f| %>
  <%= error_messages_for @question %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= f.submit "Save" %>
  <% end %>
</div>
