<div id="search_box">
  <%= form_tag search_homophone_sets_path, :method => :get %>
      <%= render :partial => 'homophone_sets/search_form' %>
  </form>
</div>

<h1>Welcome</h1>
<p>
Homophones are words, like "to," "too," and "two," that are pronounced the same, spelled differently, and have different meanings. They are like the prime numbers of the English language. Like primes, they cannot be predicted by any rules of grammar or diction. Just like you can't search the number line for primes, you cannot systematically search the dictionary for homophones. You just have to find them, like Easter Eggs in the language.
</p><p>
In addition to the comprehensive list of homophones on this site, we are planning to add lots of related word-play stuff, including helpful information for school teachers.
Thanks for visiting, and I hope you have as much fun using this site as I did creating it.
</p><p>&mdash;<i>Alan Cooper (aka Mr. Homophone)</i></p>

<% if @riddle %>
<div id="random_riddle">
  <h2>Random Riddle</h2>
  <p class='question'><%= h @riddle.ask %></p>
  <p class='riddle_response'>
    <a href='#' onclick="jQuery(this).hide().siblings('.answer').show()">Click here for answer</a>
    <span class='answer' style='display: none'><%= h @riddle.riddle_response %></span>
  </p>
</div>
<% end %>

<h2>Random Homophone Fun</h2>

<%= render :partial => 'homophone_sets/homophone_sets_list', :locals => {:homophone_sets => @homophone_sets} %>

<%= link_to "View more homophones", homophone_sets_url %>