<% @grouped_hom_list = grouped_by_first_letter(@all_homophones) %>

<% content_for :javascript_head do %>
  <%= javascript_include_tag "jquery.scrollTo-1.4.2-min" %>
  <%= javascript_include_tag "underscore-min" %>
  <%= javascript_include_tag "backbone-min" %>
  <%= javascript_include_tag "search_box" %>
<% end -%>

<%= render :partial => 'layouts/welcome' %>

<div id="page_content_container">
  <div id="page_content">
    <div id="search_box">
      <%= form_tag search_homophone_sets_path, :method => :get %>
          <%= render :partial => 'homophone_sets/search_form' %>
      </form>
    </div>

    <div id="rolodex">
          <% ('A'..'Z').to_a.each do |index_letter| %>
          <div class="rolodex_letter_container">
            <%= link_to_if @grouped_hom_list.keys.include?(index_letter.downcase),
                           raw("<div class='rolodex_letter'>#{index_letter}</div>"),
                           {:anchor => index_letter.downcase},
                           {:class => "index_link"}  %>
          </div>
          <% end -%>
          <div class="clearfix">&nbsp;</div>
    </div>

    <%= render :partial => 'homophone_sets/homophone_sets_list_with_keys', :locals => {:homophone_sets_list => @grouped_hom_list } %>
    
  </div>

  <%= render :partial => "homophone_sets/sidebar" %>     
</div>
