<%= render :partial => 'layouts/welcome' %>

<div id="page_content_container">
  <div id="page_content">
    <h2><%= link_to "Browse the list", homophone_sets_url %></h2>
    <p />
    <div id="search_box">
      <%= form_tag search_homophone_sets_path, :method => :get %>
          <%= render :partial => 'homophone_sets/search_form' %>
      </form>
    </div>

    <h2>Featured Homophone Sets</h2>
    <%= render :partial => 'homophone_sets/homophone_sets_list', :locals => {:homophone_sets => @homophone_sets} %>

    <%= link_to "View more homophones", homophone_sets_url %>
  </div>

  <%= render :partial => "homophone_sets/sidebar" %>     
</div>