<h1>Welcome</h1>
<% if @riddle %>
<div id="random_riddle">
  <h2>Riddle</h2>
  <p class='question'><%= h @riddle.ask %></p>
  <p>
    <a href='#' class='riddle_response' onclick="jQuery(this).hide().siblings('.answer').show()">Click here for answer</a>
    <span class='answer' style='display: none'><%= h @riddle.riddle_response %></span>
  </p>
</div>
<% end %>
<div id="welcome_text">
<p>
Homophones are words, like "to," "too," and "two" that are pronounced the same, spelled differently, and have different meanings. In addition to the comprehensive list of homophones on this site, we are planning to add lots of related word-play stuff, including helpful information for school teachers.
Thanks for visiting, and I hope you have as much fun using this site as I did creating it.
</p>
<p>&mdash;<i>Alan Cooper (aka Mr. Homophone)</i></p>
</div>
<h2><%= link_to "Browse the list", homophone_sets_url %></h2>
<p>
<div id="search_box">
  <%= form_tag search_homophone_sets_path, :method => :get %>
      <%= render :partial => 'homophone_sets/search_form' %>
  </form>
</div>

<h2>Featured Homophone Sets</h2>

<%= render :partial => 'homophone_sets/homophone_sets_list', :locals => {:homophone_sets => @homophone_sets} %>

<%= link_to "View more homophones", homophone_sets_url %>