<div class="grid_16">
    <div id="search_box">
      <%= form_tag search_homophone_sets_path, :method => :get %>
          <%= render :partial => 'search_form' %>
      </form>
    </div>
    <% unless @grouped_hom_list.blank? %>
        <%= render :partial => 'homophone_sets/homophone_sets_list_with_keys', :locals => {:homophone_sets_list => @grouped_hom_list } %>
    <% else %>
        <div class="errorMessage">
            <h3>There are no homophones that match <%= params[:search_term] %></h3>
            <p class="note">Please try your search again.</p>
        </div>
    <% end %>
</div>
<%= render :partial => 'sidebar' %>
