<div id="homophone_entry">
  <%= form_for @homophone_set, :url => @homophone_set.new_record?? admin_homophone_sets_path : admin_homophone_set_path(@homophone_set) do |f| %>
    <%= submit_tag "Publish" %>
    
    <% @homophone_set.errors.full_messages.each do |msg| %>
      <div class="error"><%= msg %></div>
    <% end %>

    <div class="table_like">
      <div class="small column">
        Word
      </div>
      <div class="large column">
        Definition
      </div>
    </div>

    <% @homophone_set.fill_empty_homophones(8) %>
    <% @homophone_set.homophones.each_with_index do |homophone, i| %>
      <%= fields_for "homophone_set[homophones][#{i}]", homophone do |h| %>
        <div class='homophone'>
          <% homophone.errors.full_messages.each do |msg| %>
            <div class="error"><%= msg %></div>
          <% end %>
          <div class="table_like">
            <div class="small column">
              <%= h.text_field :name, :class => 'name', :size => 15 %>
            </div>
            <div class="large column">
              <%= h.text_field :definition, :class => 'definition',  :size => 40 %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>