<div id='header'>
  <div id="tabbed_header">
    <%= image_tag 'mrhomophone.png' %><br />
    <div id="nav">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_homophones_path %></li>
        <% if user_signed_in? %>
          <li><%= current_user.full_name %></li>
          <li><%= link_to "Log out", destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

    
    
