<head>
  <%= stylesheet_link_tag 'reset', 'text', 'application', 'jquery.twitter', :cache => true %>

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.twitter" %>
  <%= javascript_include_tag "application" %>

  <%= yield :javascript_head %>

  <title>Mr. Homophone’s Homophones</title>
</head>
