<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/960_24_col.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/application.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/jquery.twitter.css" />

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery.twitter" %>
    <%= javascript_include_tag "application" %>
    <!-- I was here -->

    <title>Mr. Homophone's Homophones</title>
  </head>
  
  <body>
    <a name="top"></a>
    <div class='container_24 wrapper'>
      <div id='header' class="grid_24">
        <div id="tabbed_header">
          <%= image_tag 'mrhomophone.png' %><br />
          <div id="nav">
            <ul>
              <li><%= link_to "Home", home_url %></li>
              <li><%= link_to "Browse the list", homophone_sets_url %></li>
 <!--             <li><a href="#">Blog</a></li>
              <li><a href="#">Forum</a></li>
-->              <li><%= link_to "About", about_url %></li>
              <% if logged_in? %>
<!--                <li><%= link_to "Admin", admin_path %></li>
                <li><%= link_to "Logout", logout_path %></li>
  -->            <% end %>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="grid_14 suffix_2">
        <div id="primaryContent">
        <%= yield(:application) or yield %>
        </div>
      </div>
      <%= render :partial => "homophone_sets/sidebar" %>     
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#twitter").getTwitter({
            userName: "mrhomophone",
            numTweets: 5,
            loaderText: "Loading tweets...",
            slideIn: true,
            showHeading: true,
            headingText: "Latest Tweets",
            showProfileLink: true
        });
    });
    </script>

  </body>
</html>