<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <%= render :partial => "layouts/head" %>
  
<body>
  <a name="top"></a>
  <div class='container_24 wrapper'>
    <%= render :partial => "layouts/banner" %>
    <% if user_signed_in? %>
      <span class='logged_in_user hidden_stash'><%= current_user.email %></span>
    <% end %>
    
    <div class="grid_14 suffix_2">
      <div id="primaryContent">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => "homophone_sets/sidebar" %>     
  </div>

</body>
</html>