<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/960_24_col.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/application.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/jquery.twitter.css" />

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery.twitter" %>
    <%= javascript_include_tag "application" %>


    <title>Mr. Homophone's Homophones</title>
  </head>
  
  <body>
    <div class='container_24 wrapper'>
      <div id='header' class="grid_24">
        <div id="tabbed_header">
          <%= image_tag 'mrhomophone.png' %><br />
          <div id="nav">
            <ul>
              <li><%= link_to "Browse", home_url %></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Forum</a></li>
              <li><%= link_to "About", about_url %></li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div id='primaryContent'>
        <%= yield %>
      </div>      
    </div>
    <script>
    $(document).ready(function() {
        $("#twitter").getTwitter({
            userName: "mrhomophone",
            numTweets: 5,
            loaderText: "Loading tweets...",
            slideIn: true,
            showHeading: true,
            headingText: "Latest Tweets",
            showProfileLink: true
        });
    });
    </script>

  </body>
</html>