<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <%= render :partial => "layouts/head" %>
  
<body>
  <%=render :partial => "layouts/banner" %>
  <div id="page_container">
    <div id='flash_messages'>
      <% flash.each do |name, msg| %>
        <div class="flash_notice"><%= msg %></div>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <span class='logged_in_user hidden_stash'><%= current_user.email %></span>
    <% end %>
    
    <%= yield %>
  </div>
</body>
</html>