<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/960_24_col.css" />
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/application.css" />
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/jquery.twitter.css" />

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery.twitter" %>
    <%= javascript_include_tag "application" %>


    <title>Mr. Homophone's Homophones</title>
  </head>
  
  <body>
    <div class='container_24 wrapper'>
      <div id='header' class="grid_24">
        <%= image_tag 'mrhomophone.png' %><br />
        <span id="site_tag_line">Formerly known as <a href="http://www.cooper.com/alan/homonym_list.html">Alan Cooper's Homophone List</a></span>
        <p class="site_description">Homophones are words like "caret" and "carrot" that are spelled differently,
        pronounced the same, and have different meanings. Homophones are the prime numbers of the
        English language.</p>
      </div>
      <div id="navigation"class="grid_4">
        <div class="search_box">
          <form>
              <label for="search_term">Search</label><br />
              <input id="search_term" type="text" name="search_term" /><input type=submit value="Go" />
              <span class="search_note">Type a single word to find a sets of homophones that include that word.</span>
          </form>
        </div>
        <ul id="site_navigation">
          <li><%= link_to "Browse Homophones", home_url %></li>
          <li><a href="#">Make a suggestion</a></li>
          <li><a href="#">Read the blog</a></li>
          <li><a href="#">Join the discussion</a></li>
          <li><%= link_to "Learn more about Homophones", about_url %></li>
        </ul>
      </div>
      <div id='primaryContent' class="grid_19 prefix_1">
        <%= yield %>
      </div>      
    </div>
    <script>
    $(document).ready(function() {
        $("#twitter").getTwitter({
            userName: "mrhomophone",
            numTweets: 5,
            loaderText: "Loading tweets...",
            slideIn: true,
            showHeading: true,
            headingText: "Latest Tweets",
            showProfileLink: true
        });
    });
    </script>

  </body>
</html>